:global {
    svg {
        width: 24px;
        height: auto;
        
        fill: currentColor;
        vertical-align: middle;

        transition: color .2s ease-in-out;
    }

    svg:not(:root) { overflow: hidden; }
}
