:local {
    .button {
        display: inline-block;
        -webkit-appearance: none;
        width: 100%;

        background-color: var(--button-bg-color-default);
        color: var(--button-text-color-default);
        border: 0;

        padding: var(--base-pm) calc(var(--base-pm) * 4);
        margin: calc(var(--base-pm) * 3) 0;


        font-size: 14px;
        text-align: center;
        text-transform: uppercase;

        transition: .1s ease-in-out;
        transition-property: color, background-color, border-color;
        cursor: pointer;

        &Round { border-radius: 500px; }

        &Big {
            padding: 0 calc(var(--base-pm) * 5);

            background-color: var(--button-bg-color-big);
            color: var(--button-text-color-big);

            line-height: 38px;
            text-transform: uppercase;

            &:hover { box-shadow: 0 10px 40px currentColor; }
        }

        &Transparent {
            border: 1px solid var(--button-border-color-transparent);

            color: var(--button-text-color-transparent);
            background-color: transparent;

            &:hover {
                box-shadow: none;
                color: var(--button-text-color-transparent--hover);
                border-color: var(--button-border-color-transparent--hover);
            }
        }
    }
}
