:local {
    .mediaItem {
        padding: calc(var(--base-pm) / 2);

        background-color: var(--media-view-card-background-color);

        border-radius: var(--base-br);

        img {
            border-radius: var(--base-br);
        }
    }
}
