:local {
    .home {
        background: var(--bg-shapes-layer), var(--bg-blue-gradient);
        min-height: 100vh;
        flex: 1;
        color: var(--blue-bg-text-color);

        &Text {
            font-size: 1.5em;
            font-weight: 300;
            margin-bottom: calc(var(--base-pm) * 2);
            padding: var(--base-pm);
        }

        &Buttons {
            flex-wrap: wrap;
            width: 100%;
            max-width: 350px;
        }
    }

    @media (max-width: 640px) {
        br {
            display: none;
        }
    }
}
