:local {
    .home {
        flex: 1;
        min-height: 100vh;

        background: var(--bg-shapes-layer), var(--bg-blue-gradient);
        color: var(--blue-bg-text-color);

        &Text {
            max-width: 380px;
            font-size: 1.5em;
            font-weight: 300;

            margin-bottom: calc(var(--base-pm) * 2);
            padding: var(--base-pm);

            text-align: center;
        }

        &Buttons {
            flex-wrap: wrap;
            width: 100%;
            max-width: 350px;
        }

        &Logo {
            height: 220px;
        }
    }
}
