:global {
    :root {
        --base-pm: 8px;
        --base-br: 4px;
        --bg-blue-gradient: linear-gradient(to left top, #28a5f5, #1e87f0) 0 0 no-repeat;
        --bg-shapes-layer: url(../assets/img/section-background.svg) 50% 17vh no-repeat;
        --blue-bg-text-color: rgba(255, 255, 255, 0.8);

        --content-background-gradient: linear-gradient(to top, #e6e9f0, #eef1f5 0 0 no-repeat);

        --loadingSpinnerColor: #1e87f0;

        --headerNavLogoColor: #fff;

        --paper-background-color: #fff;
        --paper-text-color: #222;

        --formValidationTextErrorColor: #D50000;

        --button-bg-color-default: transparent;
        --button-text-color-default: #222;
        --button-text-color-default--hover: lighten(#222, 30%);
        --button-bg-color-contrast: #1e87f0;
        --button-text-color-contrast: #fff;
        --button-text-color-big: #1e87f0;
        --button-bg-color-big: #fff;
        --button-text-color-transparent: rgba(255, 255, 255, 0.8);
        --button-text-color-transparent--hover: #fff;
        --button-border-color-transparent: #e5e5e5;
        --button-border-color-transparent--hover: #fff;

        --input-bg-color-default: #fff;
        --input-text-color-default: #666;
        --input-border-color-default: #e5e5e5;
        --input-border-color-default--focus: #1e87f0;
        --input-border-color-default--valid: #00c853;
        
        --media-view-image-background-color: transparentize(#f8f8f8, .25);
        
    }
}
