:global {
    .paper {
        width: 100%;
        background-color: var(--paper-background-color);
        color: var(--paper-text-color);

        font-weight: 300;

        &-small { max-width: 650px; }

        &-padding { padding: calc(var(--base-pm) * 4) calc(var(--base-pm) * 4); }

        &-shadow-0 { box-shadow: 0 0 0 1px rgba(0,0,0,0.01), 0 1px 2px rgba(0,0,0,0.07), 0 5px 15px rgba(0,0,0,0.03); }

        &-shadow-1 { box-shadow: 0 5px 15px rgba(0,0,0,0.08); }
    }
}
