:global {
    .paper {
        width: 100%;
        background-color: var(--paper-background-color);
        color: var(--paper-text-color);

        font-weight: 300;

        border-radius: var(--base-br);

        &-small { max-width: 650px; }

        &-padding { padding: calc(var(--base-pm) * 4) calc(var(--base-pm) * 4); }
    }
}
