:global {
    .input-container {
        width: 100%;

        margin: calc(var(--base-pm) * 2) 0;
    }
}

:local {
    .inputClass {
        -webkit-appearance: none;
        display: inline-block;
        max-width: 100%;
        width: 100%;
        height: 40px;
        vertical-align: middle;

        padding: 0 var(--base-pm);

        background-color: var(--input-bg-color--default);
        color: var(--input-text-color-default);
        border: 1px solid var(--input-border-color-default);
        border-radius: var(--base-br);

        transition: .2s ease-in-out;
        transition-property: color, background-color, border;

        &:focus {
            outline: none;

            border-color: var(--input-border-color-default--focus);
        }

        &:valid:not([noValidationStyle]) { border-color: var(--input-border-color-default--valid); }
    }
}
