:local {
    .login {
        flex: 1;
        min-height: 100vh;

        background: var(--bg-shapes-layer), var(--bg-blue-gradient);
        color: var(--blue-bg-text-color);

        &AltLinks {
            width: 70%;

            a {
                font-size: .9em;

                opacity: .65;

                transition: .2s ease-in-out;
                transition-property: opacity;

                &:hover { opacity: 1; }
            }
        }

        h1 { font-size: 2em; }
    }
}
