:local {
    .mediaView {
        flex: 1;

        margin-top: calc(var(--base-pm) * 4);

        &Wrapper {
            width: 100%;
            max-width: var(--content-max-width);
        }
    }
}
