:local {
    body {
        // This is already declared in reset but we need it here too in case we show the loader before we load the base styles.
        margin: 0;
    }

    .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100vw;
        height: 100vh;
    }
}
