:local {
    .headerNav {
        background: var(--bg-blue-gradient);
        height: 70px;
        padding: 0 calc(var(--base-pm) * 5);

        &Logo {
            max-width: 22px;
            margin: 0;

            &Title {
                font-size: 20px;
                font-weight: 300;
                color: #fff;
                margin: 0 var(--base-pm);
            }

        }
    }
}
